Package: owp-conntrack-event-collector
Version: 1.1.0
Depends: libpthread, conntrack
Source: https://gitlab.com/OpenWifiPortal/conntrack-event-collector
License: CC BY-NC-SA-4.0
Section: net
Architecture: all
Maintainer: Anthony ARNAUD <github@anthony-arnaud.fr>
Description: Push conntrack event in rabbitmq for OpenWifiPortal
